[submodule "libs/normalize"]
	path = libs/normalize
	url = https://github.com/necolas/normalize.css.git
[submodule "libs2/library"]
	path = libs2/library
	url = https://github.com/OmarElzero/Github-Course.git
